*{
    margin: 0;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear::after{
    content: '';
    clear: both;
    display: block;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    max-width: 1280px;
    margin: auto;
}

/* Header CSS */
.header{
    background-color: black;
}
.header-logo{
    
    margin-top: 14px;
        
    margin-bottom: 2px;
}
.header-logo img{
    width: 71px;
}
.header-menu{
}
.prymary-menu{}
.prymary-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.prymary-menu ul li{
    padding: 22px 29px;
    position: relative;
    display: inline-block;
    transition: .3s;
}
.prymary-menu ul li::after{
    content: "";
    height: 2px;
    width: 0;
    left: 28px ;
    top: 47px ;
    background-color: #fff !important;
    position: absolute;
    
}
.prymary-menu ul li:hover::after{
    
    width: 52%;
    
}

.prymary-menu ul li a{
    
    display: block;
    line-height: 17px;
    color: white;
    font-size: 20px;
}
.prymary-menu ul li a:hover{

}


/* Dropdowen menu */

.prymary-menu ul li ul{
    list-style: none ;
    position: absolute;
    left: -30px;
    top: 130%;
    width: 227px;
    background-color: #00000082 !important;
    opacity: 0;
    visibility: hidden;
    border-top: 3px solid white;
    transition: .3s;
    

}

.prymary-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.prymary-menu ul li ul li:hover {
    
    background-color: #fff;
    
}

.prymary-menu ul li ul li::after{
    visibility: hidden;
    opacity: 0;
    
    
}
.prymary-menu ul li ul li {

}
.prymary-menu ul li ul li {
    display: inline-block;
    padding: 18px 80px !important;
}

/* .prymary-menu ul li ul li a:hover::before{
    visibility: visible;
    opacity: 1;
    
    width: 52%;
    
} */
.prymary-menu ul li ul li a{
    padding: 4px 5px;
}
.prymary-menu ul li ul li:hover a{
    color: #000;
    border-bottom: 3px solid rgb(0, 0, 0);
    box-sizing: content-box;

}

/* BANNER */
.banner{
    background: url(https://i.postimg.cc/3r1XQzt3/a0c6042d4612d7adf44692fffac7e082.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0;
}
.banner .text-sec{
    margin-left: 10px;
}
.banner .text-sec h1{
    padding-bottom: 21px;
    font-size: 40px;}
.banner .text-sec p{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner .button-sec{}
.banner .button-sec .stard{
    border: 2px solid rgb(235, 235, 235);
    display: inline-block;
    padding: 16px 37px;
    background-color: #060606;
    border-radius: 9px;
    margin-right: 5px;
    transition: .3s;
}
/* Stard Button hover */
.banner .button-sec .stard:hover{
    border: 2px solid rgb(17, 17, 17);
    background-color: #fff;
    color: black;
}
.banner .button-sec .stard a{
    color: white;
}
.banner .button-sec .stard:hover a{
    color: rgb(0, 0, 0) ;
}
.banner .button-sec .contact{
    
    display: inline-block;
    padding: 16px 37px;
    background-color: #fffefe ;
    border-radius: 9px;
    margin-left: 5px ;
}
.banner .button-sec .contact a{
    color: black;
}
/*  CONTACT hover*/
.banner .button-sec .contact:hover{
    background-color: rgb(10, 10, 10);
    color: white;
}
.banner .button-sec .contact:hover a{
    color: rgb(253, 249, 249);
}

/* ABOUT SEC */
.about-me{
    background-color: #8aa26d;
}
.about-heading{
    font-size: 39px;
    padding-top: 31px;
    padding-bottom: 107px;
}
.about-heading h1{
    color: #E4DFDA;
    text-transform: uppercase;
    text-shadow: 0 0 6px #E4DFDA;
}
.about-pragraph{
    width: 53%;
    padding-top: 37px;
    margin: 0 97px;
    margin-bottom: 101px;
}
.about-pragraph p{
    line-height: 35px;
    font-size: 20px;
    color: #fffbfb;
    margin-left: 64px;
}
.about-img{
    width: 25%;
    margin-right: 85px;
}
.about-img img{}


/* CARD SEC */
.what-i-do-sec{
    background-color: #636a64;
}
.what-heding{
    padding-top: 48px;
    width: 732px;
    margin: auto;
}
.what-heding h1{
    font-size: 55px;
    color: #e4dfda;
    text-shadow: 0px 1px 5px white;
}
.what-heding h2{
    color: #e6e4e4;
    font-size: 44px;
    padding: 11px 0;
}
.what-heding p{
    color: #e6e4e4;
    font-size: 20px;
}

.card-main{
    background-color: #636a64;
   
}

.card-main span{}
.card-main .card{
    width: 25.3%;
    box-sizing: border-box;
    background-color: white;
    margin: 76px 50px;
    border-radius: 15px;
}
.card-main span img{
    width: 36px;
    margin-left: 22px;
    margin-top: 27px;
    color: #1dc783;
    display: inline-block;
    margin-right: 21px;
    margin-bottom: 130px;
}
.card h4 {
    margin-top: 12px;
    font-size: 25px;
    padding: 14px 0;
    color: #00000096;
}
.card-main p{
    line-height: 24px;
    font-size: 17px;
    padding: 20px 33px;
    color: #2f2f2f9c !important;
}
/* identity sec */
.identity.clear {
    background-color: #8ea474;
    text-align: center;
}
.identity-sec-text{
    margin-bottom: 87px;
}
.identity-sec-text h1{
    color: white;
    padding: 74px 0px 16px 0px;
    font-size: 40px;
}
.identity-sec-text p{
    color: #efecec;
    font-size: 21px;
}
.identity-card{
    width: 90%;
    margin: auto;
}
.i-c{
    width: 35%;
    border: 1px solid #ddd;
    height: 404px;
    margin-bottom: 58px;
}
.card1{
    margin-left: 150px;
}
.card2{
    margin-right: 150px;
}
.card-photo{
    
}
.card-photo img{
    width: 100%;
    height: 310px;
}
.identity-card .i-c p{
    padding: 10px 0;
    color: #455379;
    font-size: 20px;
}
.identity-card .i-c h6{
    color: white;
    font-weight: 100;
    font-size: 20px;
}
.small-card-sec {
    margin: auto;
    width: 70%;
}
.small-card{
    width: 199px;
    margin-left: 14px;
    margin-right: 11px;
    margin-bottom: 67px;
}


/* tem-mamber */

.tem-mamber{
    background-color: #709677;
    height: 500px;

}
.tem-mamber h1{
   
   color: rgb(245, 245, 245);
   padding-top: 70px;
   padding-bottom: 5px;
   font-size: 30px;
}
.tem-membar-pic.clear {
    width: 70%;
    margin: 0 auto;
}
.tem-membar-pic .tem-card{
    width: 247.3px;
    float: left;
    margin: 50px 25px;
}
.tem-membar-pic .tem-card .img-card{
    
}
.tem-membar-pic .tem-card .img-card img{}
.social-icon{

}
.social-icon a{
    display: inline-block;

}
.social-icon a:hover i{
    color: #5C7178 !important;
}
.social-icon a i{
    display: inline-block;
    font-size: 34px !important;
    display: inline-block;
    padding: 5px !important;
    transition: .3s;
}
/* work country sec */
.work-cuntry-sec{
    background-color: #636A64;
    height: 369px;
}
.work-cuntry-sec .text-sec{
    padding-top: 92px;
    text-align: center;
}
.work-cuntry-sec .text-sec h3{
    
    width: 374px;
        
    margin: auto;
        
    font-size: 38px;
        
    color: #E5E6E8;
        
    padding-bottom: 11px;
}
.work-cuntry-sec .text-sec p{
    
    width: 602px;
        
    margin: auto;
        
    color: #E5E6E8;
        
    font-size: 19px;
        
    padding-bottom: 26px;
}
.work-cuntry-sec .button-sec{
    text-align: center;
}
.work-cuntry-sec .button-sec a{
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    background: #32c188;
    padding: 14px 28px;
    font-size: 14px ;
    border-radius: 5px;
}
.work-cuntry-sec .button-sec a:hover{
    background-color: #516B88;

    
}

/* Footer */
.footer{
    background-color: #000;
}
.footer p{
    color: rgb(253, 250, 250);
    font-size: 20px;
    text-align: center;
    padding: 30px 0;
}



